@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #0c0c0c;

  --text-primary: #ffffff;
  --text-secondary: #a9aebc;
  --text-danger: #b51b1d;

  --foreground-primary: #141414;
  --foreground-secondary: #17111d;
  --foreground-hover: #19151e;

  --stroke: #251d30;
  --brand: #1044ee;
  --border: #292929;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-primary);
  /* background: linear-gradient(
    180deg,
    var(--background-primary) 0%,
    #181122 100%
  ); */

  color: var(--text-primary);
  height: 100vh;
}

#main {
  height: 100%;
}

textarea::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--foreground-primary);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .icon-container {
    @apply shrink-0 h-[40px] w-[40px] rounded-xl bg-foreground-primary border-border/5 border-[1px] grid place-items-center;
  }

  .btn-1-md {
    @apply flex gap-1 items-center justify-center h-9 py-1 px-4 border-none outline-none rounded-lg bg-brand text-[14px] font-bold text-text-primary;
  }

  .btn-2-md {
    @apply flex gap-1 items-center justify-center h-9 py-1 px-4 border-none outline-none rounded-lg  bg-foreground-primary text-[14px] font-bold text-text-primary;
  }

  .btn-2-sm {
    @apply flex gap-1.5 items-center justify-center py-2 px-2 border-none outline-none rounded-[7px] bg-foreground-primary text-xs font-bold text-text-primary;
  }

  .btn-3 {
    @apply [&>svg]:text-text-primary [&>svg]:h-[14px] [&>svg]:w-[14px] opacity-70 hover:opacity-100 cursor-pointer h-[30px] aspect-square rounded-lg hover:bg-foreground-hover grid place-items-center;
  }

  .files-section-title {
    @apply text-text-primary text-xl font-bold;
  }

  .script-select {
    @apply rounded-[6px] h-[22px] w-[22px] bg-foreground-primary border-[1px] border-border hover:bg-background-primary cursor-pointer shrink-0;
  }
}
