@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 250, 250, 250;

  --background: 21, 21, 21;
  --middleground: 15, 15, 15;
  --foreground: 28, 28, 28;
  --battleground: 34, 34, 34;

  --hover: rgba(255, 255, 255, 0.1);
  --hover-solid: 36, 36, 36;

  --selected: 38, 38, 38;

  --primary: 255, 255, 255;
  /* #A1A1A1 */
  --secondary: 161, 161, 161;
  /* #B3B3B3 */
  --tertiary: 136, 136, 136;

  --inactive: 196, 196, 196;
  --placeholder: 102, 102, 102;
  --text-danger: #b51b1d;

  /* --brand: 50, 94, 241; */
  --brand: 50, 94, 241;

  /* #292929 */
  --stroke: 33, 33, 33;
  --border: 41, 41, 41;

  --success-green: 33, 248, 40;
  --money-green: 114, 251, 93;
  --online-green: 51, 239, 59;
  --favorite-yellow: 233, 196, 11;
  --danger-red: 356, 90, 52;

  --progressbar-inactive: 43, 43, 43;
  --progressbar-hover: 97, 97, 97;
}

[data-theme="light"] {
  --white: 250, 250, 250;

  --background: 240, 240, 240;
  --middleground: 250, 250, 250;
  --foreground: 230, 230, 230;
  --battleground: 210, 210, 210;

  --hover: rgba(0, 0, 0, 0.1);
  --hover-solid: 230, 230, 230;

  --selected: 217, 217, 217;

  --primary: 10, 10, 10;
  --secondary: 65, 65, 65;
  --tertiary: 80, 80, 80;

  --inactive: 65, 65, 65;
  --placeholder: 130, 130, 130;
  --text-danger: #b51b1d;

  --brand: 50, 94, 241;

  --stroke: 220, 220, 220;
  --border: 210, 210, 210;

  --success-green: 33, 248, 40;
  --money-green: 70, 190, 70;
  --online-green: 70, 210, 70;
  --favorite-yellow: 233, 196, 11;
  --danger-red: 356, 90, 52;

  --progressbar-inactive: 240, 240, 240;
  --progressbar-hover: 97, 97, 97;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(
    180deg,
    var(--background) 0%,
    #181122 100%
  ); */

  /* color: rgb(var(--primary)); */
  height: 100vh;
  /* scrollbar-gutter: stable both-edges !important; */
}

#main {
  height: 100%;
}

textarea::-webkit-scrollbar {
  width: 0;
}

/* .dnd-container::-webkit-scrollbar {
  width: 0;
} */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.ProseMirror:focus {
  outline: none;
}

/* ::-moz-selection {
  color: var(-primary);
  background: var(--brand);
}

::selection {
  color: var(-primary);
  background: var(--brand);
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 100px;
  background: #555;
}

.tiptap-paragraph {
  font-size: var(--editor-font-size);
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* .os-scrollbar {
  --os-handle-bg: var(--brand);
} */

/* [data-theme="light"] .btn-1,
.btn-2 {
  color: rgb(var(--middleground)); 
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  a {
    @apply text-brand hover:underline visited:!text-brand;
  }
}

@layer components {
  .slate {
    @apply bg-middleground rounded-[10px];
  }

  .icon-container {
    @apply bg-foreground shrink-0 h-[36px] aspect-square rounded-[10px] border-border border-[1px] grid place-items-center text-inactive [&>svg]:h-4;
  }

  /* .btn-3 {
    @apply [&>svg]:text-primary [&>svg]:h-[14px] [&>svg]:w-[14px] opacity-70 hover:opacity-100 cursor-pointer h-[30px] aspect-square rounded-[10px] hover:bg-hover grid place-items-center;
  } */

  .files-section-title {
    @apply text-primary text-xl font-bold;
  }

  .script-select {
    @apply rounded-[5px] h-5 w-5 border-[1px] border-border cursor-pointer shrink-0 bg-brand grid place-items-center;
  }

  .input-default {
    @apply bg-transparent h-10 outline-1 -outline-offset-1 outline-border px-[14px] rounded-xl outline-none text-primary font-medium text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-brand placeholder:text-placeholder focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-brand;
  }

  .button-secondary {
    @apply bg-battleground h-[44px] rounded-xl text-inactive text-sm font-semibold px-[14px] hover:text-primary outline-none border-border border-[1px] focus:outline-brand focus:outline outline-offset-2 hover:bg-hover hover:border-transparent;
  }

  .input-2 {
    @apply outline-none border-none h-full bg-transparent text-primary font-medium text-sm px-2 placeholder:text-placeholder;
  }

  .btn-1 {
    @apply bg-brand text-white text-[13px] font-semibold flex justify-center items-center gap-[6px] hover:opacity-85 outline-none border-none focus:outline-brand focus:outline outline-offset-2 disabled:cursor-not-allowed disabled:opacity-80;
  }

  .btn-2 {
    @apply bg-battleground text-inactive hover:text-primary text-[13px] font-semibold flex justify-center items-center gap-[6px] outline-none border-none focus:outline-brand focus:outline outline-offset-2 hover:bg-hover disabled:cursor-not-allowed disabled:opacity-80;
  }

  .btn-3 {
    @apply text-brand text-sm font-semibold flex justify-center items-center gap-[6px] hover:text-brand/80 outline-none border-none disabled:cursor-not-allowed disabled:opacity-80 px-3;
  }

  .btn-1-sm {
    @apply btn-1 h-[32px] rounded-lg px-[14px];
  }

  .btn-1-md {
    @apply btn-1 h-[34px] rounded-[10px] px-[14px];
  }

  .btn-2-md {
    @apply btn-2 h-[34px] rounded-[10px] px-[14px];
  }

  .btn-1-lg {
    @apply btn-1 h-10 rounded-xl px-6;
  }

  .btn-2-lg {
    @apply btn-2 h-10 rounded-xl px-6;
  }

  .btn-3-lg {
    @apply btn-3 h-10 rounded-xl;
  }

  .button-icon {
    @apply text-inactive grid place-items-center h-[32px] aspect-square rounded-lg hover:text-primary cursor-pointer hover:bg-hover disabled:!text-placeholder disabled:!cursor-not-allowed disabled:!bg-transparent;
  }

  .inactive {
    @apply text-inactive hover:text-primary focus:text-primary focus-within:text-primary;
  }

  .tooltip-default {
    @apply bg-foreground text-primary font-medium text-xs p-2 rounded-[10px] transition-all ease-in-out delay-500 duration-200;
  }

  .tooltip-about {
    @apply bg-battleground text-primary font-medium text-xs py-2 px-3 ring-1 ring-border rounded-[14px] max-w-[300px] leading-5 transition-all ease-in-out delay-500 duration-200;
  }

  .tooltip-presentation {
    @apply bg-foreground rounded-[10px] flex flex-col gap-3 p-4 max-w-40 transition-all ease-in-out duration-200;
  }

  .nav-tabs {
    @apply h-[48px] aspect-square grid place-items-center transition-all ease-in-out duration-150 rounded-xl cursor-pointer;
  }

  .filter-1 {
    @apply flex h-8 items-center gap-2 px-3.5 rounded-full cursor-pointer;
  }

  .filter-1-inactive {
    @apply text-inactive bg-battleground hover:text-primary hover:bg-hover;
  }

  .filter-1-selected {
    @apply text-brand bg-brand/10 hover:bg-brand/15;
  }

  .filter-1-selected-clear {
    @apply flex text-brand bg-brand/10 hover:bg-brand/15 h-full rounded-r-full items-center pl-2.5 pr-3 cursor-pointer;
  }

  .tiptap-editor-parent {
    @apply grow w-full [&>div]:h-full [&>div]:w-full pb-4;
  }

  .tiptap-editor {
    @apply px-12 pt-10 w-full h-full gap-7 flex flex-col justify-start items-center [&>div]:w-full [&>div]:max-w-[800px];
  }

  .chapter-header {
    @apply mb-4;
  }

  .tiptap-paragraph {
    @apply pl-[50px] text-primary font-semibold leading-[22px] placeholder:text-placeholder;
  }

  .tiptap-title {
    @apply py-[2px] text-xl text-primary font-extrabold !p-0 h-[34px] flex items-center justify-start;
  }

  .tiptap-comment {
    @apply text-secondary;
  }

  .presentation-view-options {
    @apply relative grid place-items-center h-10 w-10 rounded-xl hover:bg-hover cursor-pointer text-inactive hover:text-primary;
  }

  .presentation-control-options {
    @apply flex items-center justify-center gap-2 relative h-10 min-w-10 px-2.5 rounded-[10px] cursor-pointer text-inactive hover:text-primary transition-all duration-100 ease-in-out;
  }

  .resizable-script {
    @apply !h-full relative;
  }

  /* Make handles invisible by default */
  .resizable-handle-container {
    @apply flex items-center justify-center opacity-0 transition-opacity duration-200;
  }

  .resizable-handle-container-right {
    @apply !-right-14;
  }

  .resizable-handle-container-left {
    @apply !-left-14;
  }

  /* Show handles when hovering over the resizable component or the handles themselves */
  .resizable-script:hover .resizable-handle-container,
  .resizable-handle-container:hover {
    @apply opacity-100;
  }

  /* Keep handles visible during active resizing regardless of hover state */
  .resizing-active .resizable-handle-container {
    @apply opacity-100;
  }
}
