@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 20, 20, 20;
  --middleground: 12, 12, 12;
  --foreground: 28, 28, 28;
  --battleground: 32, 32, 32;

  --hover: rgba(255, 255, 255, 0.1);
  --selected: 41, 41, 41;

  --primary: 255, 255, 255;
  /* #A1A1A1 */
  --secondary: 161, 161, 161;
  /* #B3B3B3 */
  --tertiary: 136, 136, 136;
  --inactive: 196, 196, 196;
  --placeholder: 102, 102, 102;
  --text-danger: #b51b1d;

  --brand: 50, 94, 241;

  /* #292929 */
  --border: 41, 41, 41;
  --stroke: 33, 33, 33;

  --success-green: 33, 248, 40;
  --money-green: 114, 251, 93;
  --favorite-yellow: 233, 196, 11;
  --live-red: 233, 11, 14;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(
    180deg,
    var(--background) 0%,
    #181122 100%
  ); */

  /* color: rgb(var(--primary)); */
  height: 100vh;
  /* scrollbar-gutter: stable both-edges !important; */
}

#main {
  height: 100%;
}

textarea::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 100px;
  background: #555;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* .os-scrollbar {
  --os-handle-bg: var(--brand);
} */

@layer components {
  .slate {
    @apply grow flex flex-col min-w-0 bg-middleground mr-2 mb-2 rounded-[10px] overflow-y-auto;
  }

  .icon-container {
    @apply bg-foreground shrink-0 h-[36px] aspect-square rounded-[10px] border-border border-[1px] grid place-items-center text-inactive [&>svg]:h-4;
  }

  .btn-3 {
    @apply [&>svg]:text-primary [&>svg]:h-[14px] [&>svg]:w-[14px] opacity-70 hover:opacity-100 cursor-pointer h-[30px] aspect-square rounded-[10px] hover:bg-hover grid place-items-center;
  }

  .files-section-title {
    @apply text-primary text-xl font-bold;
  }

  .script-select {
    @apply rounded-[5px] h-5 w-5 border-[1px] border-border cursor-pointer shrink-0 bg-brand grid place-items-center;
  }

  .input-default {
    @apply bg-transparent h-[44px] outline-1 -outline-offset-1 outline-border px-[14px] rounded-[10px] outline-none text-primary font-medium text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-brand placeholder:text-placeholder focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-brand;
  }

  .input-2 {
    @apply outline-none border-none h-full bg-transparent text-primary font-medium text-sm px-2 placeholder:text-placeholder;
  }

  .btn-1 {
    @apply bg-brand rounded-lg text-primary text-[13px] font-bold px-[14px] flex justify-center items-center gap-[6px] hover:opacity-85 outline-none border-none focus:outline-brand focus:outline outline-offset-2;
  }

  .btn-2 {
    @apply bg-brand/15 rounded-lg text-brand text-[13px] font-bold px-[14px] flex justify-center items-center gap-[6px] hover:bg-brand/20 outline-none border-none focus:outline-brand focus:outline outline-offset-2;
  }

  .btn-1-sm {
    @apply btn-1 h-[32px];
  }

  .btn-1-md {
    @apply btn-1 h-[36px];
  }

  .btn-1-lg {
    @apply btn-1 h-[44px];
  }

  .btn-2-md {
    @apply btn-2 h-[36px];
  }

  .button-secondary {
    @apply h-[44px] rounded-[10px] text-inactive text-sm font-semibold px-[14px] hover:text-primary outline-none border-border border-[1px] focus:outline-brand focus:outline outline-offset-2 hover:bg-hover hover:border-transparent;
  }

  .button-icon {
    @apply text-inactive grid place-items-center h-[32px] aspect-square rounded-lg hover:text-primary cursor-pointer hover:bg-hover;
  }

  .inactive {
    @apply text-inactive hover:text-primary focus:text-primary focus-within:text-primary;
  }

  .tooltip-default {
    @apply bg-foreground text-primary font-medium text-xs p-2 ring-1 ring-border rounded-lg;
  }

  .tooltip-about {
    @apply bg-foreground text-primary font-medium text-xs py-2 px-3 ring-1 ring-border rounded-lg max-w-[300px] leading-5;
  }
}
